<h1>&#10003;yatapi</h1>

<div class="row">
  <div class="large-12 columns">

    <div class="tour yatapi-tasks">
      <div class="row">
        <div class="large-12 columns tasklist">
          <h4>Tasks to do:</h4>
        </div>
      </div>
      <input class="yatapi-addtask-input" type="text" placeholder="Add a new task" />
    </div>
    <p id="tour-guide" class="centered">
      Try to add a new task by writing something in the input box and pressing enter.
    </p>
  </div>
</div>

