<h1>&#10003;yatapi</h1>

<div class="row">
  <div class="large-12 columns">
    <p class="centered">
      Try to add a new task by writing something in the input box and pressing enter.
    </p>
    <div class="tour yatapi-tasks">
      <div class="row">
        <div class="large-4 columns yatapi-column yatapi-today-list">
          <h4>Today</h4>
        </div>
        <div class="large-4 columns yatapi-column yatapi-tomorrow-list">
          <h4>Tomorrow</h4>
        </div>
        <div class="large-4 columns yatapi-column yatapi-someday-list">
          <h4>Someday</h4>
        </div>
      </div>
      <input class="yatapi-addtask-input" type="text" placeholder="Add a new task" />
    </div>
  </div>
</div>

