
<div class="row">
  <div class="large-12 columns">
    <h1>&#10003;<%= @appName %></h1>
  </div>
</div>

<hr />

<div class="row">
  <div class="large-6 columns">
    <h2>Guided Tour</h2>
  </div>

  <div class="large-6 columns">
    [application screenshot]
  </div>
</div>

<hr />

<div class="row">
  <div class="large-12 columns">
    Companies already using this app
  </div>
</div>

